..\..\..\..\..\Projects\Sound_superb\common_files_folder/
..\..\..\..\..\Projects\Sound_superb\learning_results_0_folder/
..\..\..\..\..\Projects\Sound_superb\learning_results_1_folder/
..\..\..\..\..\Projects\Sound_superb\test_folder/
..\..\..\..\..\Projects\Sound_superb\train_folder/
..\..\..\..\..\Projects\Sound_superb\validation_folder/
